body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Playfair Display', serif;
  background: #242424;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #D0A68C;
  font-family: Playfair Display;
  font-weight: 700;
  line-height: 1.4em;
}

.header-cryg {
  display: block;
  background-image: url(../img/header-cryg.png);
  left: -101px;
  top: 0px;
  width: 599px;
  height: 634px;
  position: absolute;
  z-index: 0;
  object-fit: fill;
  position: absolute;
  z-index: -1;
  object-fit: fill;
}

.header {
  padding-top: 44px;
  padding-bottom: 36px;
}

.container {
  max-width: 1160px;
  margin: 0 auto;

}

.header {
  display: flex;
  padding-top: 5px;
  padding-bottom: 0px;
  margin-left: -55px;
}

.header-burger {
  display: none;
}

.header_icon {
  display: flex;
  gap: 25px;
}

li.social-icon {
  text-decoration: none;
  list-style: none;
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.5s ease;
}

li.social-icon:hover {
  width: 40px;
  height: 40px;
}

.fecbek {
  background-image: url(../img/fecbek.svg);
}

.svcvc {
  background-image: url(../img/svcvc.svg);
}

.instagram {
  background-image: url(../img/instagram.svg);
}

.vk {
  background-image: url(../img/vk.svg);
}

.header-nav {
  display: flex;
  gap: 57px;
  list-style-type: none;
  padding-left: 525px;
  margin-top: 23px;
}

.header-nav a {
  color: #FFF;
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  list-style: none;
}

.header-logo {
  display: block;
  background-image: url(../img/logo.svg);
  width: 40px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}

.header-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 35px;
  transition: all 0.5s ease;
}

.header-logo:hover {
  width: 40px;
  height: 40px;
}

.crug {
  display: block;
  width: 1000px;
  height: 1000px;
  border-radius: 1036px;
  transform: translate(0%, 0px);
  background: linear-gradient(177deg, rgba(0, 61, 110, 0.70) 42.25%, rgba(0, 61, 110, 0.00) 90.5%);
}

.crug1 {
  display: block;
  border-radius: 50%;
  background: linear-gradient(180deg, #0B3558 0%, #0B3558 100%);
  left: 644px;
  top: 719px;
  min-width: 1034px;
  height: 1034px;
  position: absolute;
  z-index: 0;
}

section {
  padding-top: 132px;
}

.wrapper {
  display: flex;
  gap: 90px;
  position: static;
}

.foto {
  display: block;
  max-width: 100%;
  height: 819px;
  margin-top: 100px;
  margin-top: -115px;
  object-fit: fill;
}

.title {
  font-size: 72px;
  margin-bottom: 20px;
}

.text1 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  width: 100%;

}

.offer {
  margin-left: -16px;
}

.text2 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 450px;
  line-height: 170%;
  padding-bottom: 13px;
}

.Button {
  border-radius: 30px;
  width: 170px;
  padding: 7px 56px;
  text-align: center;
  text-decoration: none;
  background-color: #D0A68C;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.5s ease;
}

.Button:hover {
  width: 200px;
  padding: 10px 60px;
}

.row {
  position: absolute;
  z-index: 0;
  margin-left: 704px;
  margin-top: 601px;
  width: 500px;
}

.row_title {
  color: #D0A68C;
  font-family: Playfair Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 297px;
  margin-bottom: 20px;
}

.row_text1 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.row_text2 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  width: 90%;
}

.byss {
  margin-top: 300px;

}

.bribg {
  width: 67%;
  height: 120px;
}

  .fiit {
    display: block;
    max-width: 567px;
    margin-top: -99px;
}
.main-cryg{
  display: block;
    border-radius: 50%;
    background: linear-gradient(180deg, #0B3558 0%, #0B3558 100%);
    left: -770px;
    top: 1493px;
    min-width: 1432px;
    height: 1432px;
    position: absolute;
    z-index: -1;
}
.about{
 padding-top: 54px;
 margin: 0 auto;
}
.main-title{
 padding-top:175px;
 text-align: center;
 padding-bottom:90px;
font-size: 72px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.main_grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 46px 30px;
  margin: 0 auto;
  margin-top: -100px;
}
.main1{
 background-image: url(../img/main1.png);
 width: 567px;
 height: 467px;
 padding-top: 40px;
}
.main2{
  background-image: url(../img/main2.png);
  width: 567px;
  height: 467px;
  padding-top: 40px;
 }
 .main3{
  background-image: url(../img/main3.png);
  width: 567px;
  height: 467px;
  padding-top: 40px;
 }
 .main4{
  background-image: url(../img/main4.png);
  width: 567px;
  height: 467px;
  padding-top: 40px;
 }
.main-text{
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}
.byss1{
  transform: translate(170%, -143px);
  position: absolute;
  z-index: -1;
}