body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Playfair Display', serif;
  background: #242424;
   overflow-x: hidden; 

}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #D0A68C;
  font-family: Playfair Display;
  font-weight: 700;
  line-height: 1.4em;
}

/* <!-- header --> */
.header-cryg {
  display: block;
  background-image: url(../img/header-cryg.png);
  left: -101px;
  top: -9px;
  width: 599px;
  height: 634px;
  position: absolute;
  z-index: 0;
  object-fit: fill;
  position: absolute;
  z-index: -1;
  object-fit: fill;
}

.header {
  padding-top: 44px;
  padding-bottom: 36px;
  position: relative;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  position: static;
  position: relative;
}

.header {
  display: flex;
  padding-top: 5px;
  padding-bottom: 0px;
  margin-left: -55px;
}

.header-burger {
  display: none;
}

.header_icon {
  display: flex;
  gap: 25px;
}

li.social-icon {
  text-decoration: none;
  list-style: none;
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.5s ease;
}

li.social-icon:hover {
  width: 40px;
  height: 40px;
}

.fecbek {
  background-image: url(../img/fecbek.svg);
}

.svcvc {
  background-image: url(../img/svcvc.svg);
}

.instagram {
  background-image: url(../img/instagram.svg);
}

.vk {
  background-image: url(../img/vk.svg);
}

.header-nav {
  display: flex;
  gap: 57px;
  list-style-type: none;
  padding-left: 525px;
  margin-top: 23px;
}

.header-nav a {
  color: #FFF;
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  list-style: none;
}

.header-logo {
  display: block;
  background-image: url(../img/logo.svg);
  width: 40px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}

.header-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 35px;
  transition: all 0.5s ease;
}

.header-logo:hover {
  width: 40px;
  height: 40px;
}


/* <!-- wrap --> */
section {
  padding-top: 132px;
}

.wrapper {
  display: flex;
  gap: 115px;
  position: static;
  position: relative;
}

.foto {
  display: block;
  max-width: 100%;
  height: 819px;
  margin-top: 100px;
  margin-top: -115px;
  object-fit: fill;
}

.title {
  font-size: 72px;
  margin-bottom: 20px;
  width: 268px;
}

.text1 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  width: 35%;
}

.offer {
  margin-left: -16px;
  width: 100%;
}

.text2 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 450px;
  line-height: 170%;
  padding-bottom: 13px;
  width: 400px;
}

.Button {
  border-radius: 30px;
  width: 170px;
  padding: 7px 56px;
  text-align: center;
  text-decoration: none;
  background-color: #D0A68C;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.5s ease;
}

.Button:hover {
  width: 200px;
  padding: 10px 60px;
}

.blyr {
  background-image: url(../img/blyr.png);
  width: 51%;
  height: 1036px;
  position: absolute;
  z-index: 0;
  left: 53%;
  bottom: -33%;
  padding: 10% 0% 0% 8%;
}
.row_title {
  color: #D0A68C;
  font-family: Playfair Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 297px;
  margin-bottom: 0px;
}
.hero{
 display: none;
 }
 .hero_text2 {
  display: none;
}
.hero_text {
  display: none;
}
.hero_text1{
  display: none;
}

.row_text1 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
  width: 200px;
}

.row_text2 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  width: 73%;
}

.byss {
  margin-top: 300px;

}

.bribg {
  width: 67%;
  height: 120px;
}

.fiit {
  display: block;
  max-width: 567px;
  margin-top: -99px;
}

.main-cryg {
  display: block;
  border-radius: 50%;
  background: linear-gradient(180deg, #0B3558 0%, #0B3558 100%);
  left: -776px;
  top: 127px;
  min-width: 1432px;
  height: 1432px;
  position: absolute;
  z-index: -1;
}

/* <!-- about --> */
.about {
  padding-top: 54px;
  margin: 0 auto;
  position: relative;
}

.about-flex {
  display: block;
  position: static;
  position: relative;
}

.cryg2 {
  position: absolute;
  z-index: -1;
  right: 552px;
  position: absolute;
  top: 14px;
}

.main-title {
  padding-top: 175px;
  text-align: center;
  padding-bottom: 90px;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
}

.main_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 44px 8px;
  margin: 0 auto;
  margin-top: -100px;
}

.main1 {
  background-image: url(../img/main1.png);
  width: 567px;
  height: 467px;
  padding-top: 40px;
  border: 4px solid #D0A68C;
  
}

.main2 {
  background-image: url(../img/main2.png);
  width: 567px;
  height: 467px;
  padding-top: 40px;
  border: 4px solid #D0A68C;
}

.main3 {
  background-image: url(../img/main3.png);
  width: 567px;
  height: 467px;
  padding-top: 40px;
  border: 4px solid #D0A68C;
}

.main4 {
  background-image: url(../img/main4.png);
  width: 567px;
  height: 467px;
  padding-top: 40px;
  border: 4px solid #D0A68C;
}

.main-text {
  color: #cfcfcf;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

.byss1 {
  transform: translate(170%, -143px);
  position: absolute;
  z-index: -1;
  max-width: 100%;
}

/* <!-- artical --> */
.artical {
  padding-top: 0px;
  position: relative;
}

.obome {
  position: absolute;
  top: 279px;
  right: 621px;
  z-index: -1;
}

.main_flex {
  display: flex;
  gap: 110px;
  margin-top: -137px;
  position: static;
  position: relative;
}
.forwa {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-top: 134px;
width: 100%;
}

.form-wrap {
  display: block;
  border-radius: 30px;
  
  width: 100%;
}
.form-email{
  color: #D0A68C;
  border-radius: 30px;
border: 2px solid  #D0A68C;;
background: #242424;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  padding: 17px 52px;
width: 100%;
border-radius: 30px;
}
.form-email::placeholder{
  color: #D0A68C;
}
.flex_title {
  text-align: center;
  font-size: 72px;
  margin-top: 43px;
}

.artical-title {
  font-size: 72px;
  width: 100%;
  text-align: center;
  margin-bottom: -11px;
}

.bg {
  border-radius: 30px;
  width: 170px;
  padding: 7px 46px;
  text-align: center;
  text-decoration: none;
  background-color: #D0A68C;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.5s ease;
}

.bg:hover {
  width: 200px;
  padding: 10px 60px;
}

/* <!-- aside --> */
.aside {
  padding-top: 52px;
}

.flex_banner {
  display: flex;
  justify-content: space-around;
}

.mak1,
.mak2,
.mak3 {
  border-radius: 50%;
  width: 19%;
}

.img_aside {
  padding-top: 50px;
}

.banner {
  display: flex;
  gap: 20px;
  padding-top: 21px;
}

.banner_box {
  border-radius: 30px;
  background: #4A4A4A;
  padding: 0px 28px 10px;
}

.banner_title {
  color: #FFF;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  text-align: center;
}
.banner_text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

}

/* footer */
footer {
  padding-top: 98px;
  height: 170px;
}

.footer_icon {
  display: flex;
  gap: 39px;
}

li.footer-icon {
  text-decoration: none;
  list-style: none;
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.5s ease;
}

li.footer-icon:hover {
  width: 60px;
  height: 60px;
}

.footer-box {
  display: block;
  margin: 0 auto;
  width: 400px;
}

.footer-title {
  font-size: 20px;
  padding-left: 80px;
}
 /* menu byrder */
 .burger {
  width: 40px;
  height: 16px;
  background-image: url(../img/byrger.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 204px;;
}

#modal {
  max-width: 587px;
  height: 331px;
  background: linear-gradient(180deg, rgba(36, 36, 36, 0.70) 27.4%, rgba(36, 36, 36, 0.43) 113.58%);
  position: absolute;
  top: -500px;
  left: 0;
  right: 0;
  margin: 20px auto 0;
  transition: 0.5s;
  padding: 29px 10px;
  box-sizing: border-box;
  flex-direction: column;
  z-index: 99;
}
.burger-close {
  width: 20px;
  height: 19px;
  background-color: transparent;
  background-image: url(../img/crect.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 20px;
}
.modal-header-nav {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 30px;
 text-align: center;
}
.modal-header-nav a {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  gap: 40px;
  text-decoration: none;
  line-height: 3;
  line-break: auto;

}
.modal_header_icon {
  position: absolute;
  display: flex;
  gap: 20px;
  padding-left: 80px;
}
/* Rechonser */
  /* DECTON */
@media (max-width: 1260px) {
  .blyr {
    width: 48%;
}
.header-nav {
  padding-left: 480px;
}
.byss1 {
  transform: translate(165%, -149px);
}
.offer {
  margin-left: 0px;
}
.row_text2 {
  width: 90%;
}
}
@media (max-width: 1150px) {
  .wrapper {
    gap: 58px;
  }
  .fiit {
    max-width: 500px;
}
.blyr {
  left: 52%;
  padding: 11% 0% 0% 8%;
}
.main1,.main2,.main3,.main4{
  width: 100%;
  height: 467px;
}
.byss1 {
  transform: translate(100%, -149px);
  width: 50%;
}
.foto {
  height: 600px;
  margin-top: 9px;
}
.header-item {
  margin-left: 46px;
}
.header-nav {
  padding-left: 400px;
}
.img_aside {
 width: 50%;
}
.main_flex {
  gap: 24px;
}
}
@media (max-width: 1050px) {
  .header-nav  {
    gap:30px;
  }
.banner {
  width: 100%;
}
.row_text2 {
  width: 91%;
}
.blyr {
  padding: 13% 0% 0% 9%;
}
}
@media (max-width: 1050px) {
  .row_text2 {
    width: 94%;
}
}
/* ainad mini */
@media (max-width: 1000px) {
  .container{
    max-width: 720px;
    padding: 0px 8px;
  }
  .header-nav {
    padding-left: 183px;
}
.header-nav a {
  font-size: 16px;
}
.wrapper {
  gap: 0px;
}
.offer {
  width: 50%;
  margin-top: -24px;
  margin-left: -16px;
}
.text2 {
  width: 308px;
}
.foto {
  height: 630px;
  width: 50%;
  margin-top: 22px;
}
.row_text2 {
  display: none;
}
.row_text {
  display: none;
}
.row_text1{
  display: none;
}
.row_title {
display: none;
}
.fiit {
  position: absolute;
  z-index:1;
  margin: 0 auto;
  max-width: 100%;
  transform: translate(14%,491px);
}
.byss {
  transform: translate(1%,571px);
}
.blyr {
  left: 35%;
  padding: 12% 0% 0% 8%;
  width: 70%;
  bottom: -95%;
}
.about {
  padding-top: 774px;
}
.main1 {
  background-image: url(../img/ipad1.png);
  height: 300px;
  padding-top: 20px;
}
.main2 {
  background-image: url(../img/ipad2.png);
  height: 300px;
  padding-top: 20px;
}
.main3 {
  background-image: url(../img/ipad3.png);
  height: 300px;
  padding-top: 20px;
}
.main4 {
  background-image: url(../img/ipad4.png);
  height: 300px;
  padding-top: 20px;
}
.artical-title {
  font-size: 60px;
  margin-bottom: -11px;
}
.main_grid {
  gap: 15px 8px;
  margin-top: -100px;
}
.main_flex {
  display: flex;
  flex-direction: column;
  gap: 57px;
}
.bg{
 margin: 0 auto;
 margin-top: 16px;
}
.img_aside {
  width: 79%;
  margin: 0 auto;
}
.mak1, .mak2, .mak3 {
  width: 200px;
  height: 200px;
}
.menu-flex{
  overflow: hidden; 
  height: 583px;
  flex: 0 0 281px;
  overflow-x:scroll;
  overflow-y: hidden;
}
.banner {
  gap: 20px;
  padding-top: 21px;
  margin-left: 0px;
  width: 168%;
}
.banner_box {
  border-radius: 30px;
}
.flex_banner {
  gap: 155px;
  padding-left: 346px;
}
footer{
padding-top: 0px;
}
.main_flex {
  width: 100%;
}
.flex_title {
width: 320px;
display: block;
margin: 0 auto;
}
.flex_title {
padding-bottom: 52px;
}
.banner_text {
  width: 282px;
}
.hero{
  display: block;
  position: absolute;
  z-index:1;
  transform: translate(0%,-110px);
  }
 .hero_title {
  display: block;
  width: 60%;
  color: #D0A68C;
  font-family: Playfair Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  margin:  0 auto;
  padding-bottom: 37px;
 }
 .hero_text1{
  display: block;
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  width: 100%;
  margin:  0 auto;
  padding-bottom: 28px;
 }
 .hero_text2 {
  display: block;
  width: 90%;
  font-family: Montserrat;
  color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}
}
@media (max-width: 770px) {
  .blyr{
    left: 28%;
  }
  .header-nav {
    gap: 21px;
    padding-left: 165px;
}
}
@media (max-width: 700px) {
  .fiit {
    max-width: 82%;
}
.flex_banner {
  gap: 154px;
  padding-left: 431px;
}
.header-logo {
  width: 30px;
  height: 26px;
}
}
@media (max-width: 690px) {
  .header-nav {
    gap: 14px;
    padding-left: 145px;
  }
}
 @media (max-width: 650px) {
  .header-nav {
    padding-left: 72px;
}
.blyr {
  bottom: -89%;
}
.offer {
  width: 52%;
}
.foto {
  height: 565px;
}
.banner {
  width: 160%;
}

} 
/* mobal */
@media (max-width: 590px) {
  .header-nav {
   display: none;
}
.container{
  max-width: 360px;
}
.form-email {
  font-size: 13.50px;
  padding: 17px 18px;
}
.header-burger {
  display: block;
  max-width: 40px;
  margin-top: 20px;
  padding-left: 92px;
}
li.social-icon {
  width: 25px;
  height:25px;
}
.header_icon {
  gap: 15px;
}

.header-item {
  margin-left: 71px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.text1 {
  width: 70%;
}
.foto {
  height: 630px;
  width: 92%;
  margin-top: -441px;
}
.header{
padding-bottom: 48px;
}
.offer {
  margin-top: -217px;
}
.blyr {
  bottom: -96%;
  width: 134%;
  left: -1%;
}
.fiit {
  max-width: 100%;
  transform: translate(-1%,978px);
}
.byss {
  transform: translate(-23%,1049px);
}

.hero {
  max-width: 90%;
  transform: translate(9%,-88px);
}
.hero_title {
  font-size: 53px;
  padding-bottom: 10px;
}
.hero_text1 {
  font-size: 16px;
  margin-left: 18px;
}
.hero_text2 {
  margin-left: -36px;
  width: 100%;
}
.about {
  padding-top: 840px;
}
.main-title {
  padding-bottom: 90px;
  font-size: 53px;
}
.main-text {
  font-size: 6px;
}
.main1 {
  background-image: url(../img/mobail1.png);
  height: 146px;
  width: 99%;
  padding-top: 0px;
}
.main2 {
  background-image: url(../img/mobail2.png);
  height: 146px;
  width: 99%;
  padding-top: 0px;
}
.main3 {
  background-image: url(../img/mobail3.png);
  height: 146px;
  width: 99%;
  padding-top: 0px;
}
.main4 {
  background-image: url(../img/mobail4.png);
  height: 146px;
  width: 99%;
  padding-top: 0px;
}
.artical {
  padding-top: 13px;
  position: relative;
}
.artical-title {
  font-size: 32px;
  margin-bottom: -11px;
}
.bycc3{
 width: 100%;
}
.img_aside {
  width: 100%;
  padding-top: 87px;
  margin-left: -18px;
}
.forwa {
  margin-top: 7px;
  width: 100%;
  margin-left: -16px;
}
.flex_banner {
  padding-left: 516px;
}
.main_grid {
  margin-left: -18px;
}
.footer_icon {
width: 80%;
}
}
@media (max-width: 580px) {
  .burger {
    margin-right: -3px;
}
.hero_title {
  width: 70%;
}
.hero_text1 {
  width: 60%;
}
.footer-box {
  width: 106%;
}
.footer-title {
  font-size: 20px;
  padding-left: 35px;
  width: 269px;
}
.header-cryg {
  left: -245px;
}
.blyr {
  left: -11%;
}
}
@media (max-width: 500px) {
  .container{
 padding: 0 15px;
  }
  .blyr {
    left: -27%;
    bottom: -108%;
    padding: 49% 0% 0% 32%;
  }
  .wrapper {
  max-width: 100%;
}
.foto {
  height: 536px;
  width: 92%;
  margin-top: -441px;
}
.offer {
  padding-bottom: 100px;
}
.hero {
display: none;
}
.hero_title {
  display: none;
}
.hero_text1 {
  display: none;
}
.hero_text2 {
  display: none;
}
.row_title {
display: block;
font-size: 50px;
width: 203px;
}
.row_text1 {
  display: block;
}
.row_text2 {
  display: block;
  width: 85%;
  font-size: 14px;
}
.text2 {
  width: 282px;
}
.byss {
  transform: translate(-3%,1164px);
  max-width: 150%;
}
.byss1 {
  transform: translate(85%, -122px);
  width: 50%;
}
.bycc3 {
  transform: translate(0%, 20px);
  width: 105%;
}
.main-title {
  padding-bottom: 90px;
  font-size: 40px;
}
.fiit {
  transform: translate(4%,1126px);
}
.about {
  padding-top: 970px;
}
.main_grid {
  margin-left: 0px;
}
.img_aside {
  width: 100%;
  padding-top: 87px;
  margin-left: 0px;
}
.artical-title {
  width: 316px;
  font-size: 31px;
}
.forwa {
  margin-left: 0px;
  margin-top: 0px;
}
.flex_title {
  font-size: 52px;
}
.footer_icon {
  gap: 25px;
}

}
